<div class="group">
  <%= f.input :title, class: "form-control" %>
</div>

<div class="group">
  <%= f.label :friendly_id %>
  <%= f.text_field :friendly_id, require: true, class: "form-control" %>
  <p class="help-block">限小写英文、数字及横线，将作为网址的一部分</p>
</div>

<div class="group">
  <%= f.input :image, as: :file, class: "form-control" %>
</div>

<div class="group">
  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>
  <%= link_to("Go to Challenges", admin_level_challenges_path(@level), class: "btn btn-warning") %>
</div>
