<h2 class="text-center">Edit Level</h2>

<%= simple_form_for [:admin, @level] do |f| %>

<div class="group">
  <%= f.input :title, class: "form-control" %>
</div>

<% if @level.image.present? %>
  <span>Current Pic</span> <br>
  <%= image_tag(@level.image.thumb) %>
<% end %>

<div class="group">
  <%= f.input :image, as: :file, class: "form-control" %>
</div>

<%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>

<% end %>
