<div class="course-block">
  <div class="card-header">
    <div class="split">
      <h3>Edit Profile</h3>
    </div>
  </div>

  <hr>

  <%= simple_form_for @user do |f| %>

  <div class="form-group">
    <% if @user.avatar.present? %>
      <b style="font-size: 16px;">My Image</b> <br>
      <%= image_tag(@user.avatar) %>
    <% end %>
  </div>


    <div class="form-group">
      <%= f.input :avatar, label: "Use another pic", as: :file %>
    </div>

    <div class="form-group">
      <%= f.input :username %>
    </div>

    <div class="form-group">
      <%= f.label :gender %>
      <% User::GENDER.each do |gender| %>
        <label>
          <%= f.radio_button :gender, gender %>
          <%= t(gender, :scope => "user.gender") %>
        </label>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.input :email %>
      <p class="help-block">Cannot be changed once it is confirmed（目前不可更改，看是否要设为可更改）</p>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Save", :class => "level-btn" %>
    </div>

  <% end %>

</div>
